:root {
    font-size: 62.5%;
    --bg-color: #ECE8DF;
    --near-black: #333333;
    --accent-col: #D0BEA9;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif serif;
  background-color: var(--bg-color);
  overflow: auto;
  min-width: 230px;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: visible;
  /* width: 100%; */
}

footer {
  display: block;
  align-items: center;
  justify-content: center;
}

footer p, footer a {
  text-align: center;
  color: var(--accent-col);
  padding-bottom: 1rem;
  /* margin-bottom: 0; */
}

footer img {
  width: 88;
  height: 33;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: brightness(0) saturate(100%) invert(82%) sepia(33%) saturate(166%) hue-rotate(352deg) brightness(90%) contrast(89%);
}

section {
  overflow: visible;
  height: auto;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0;
  overflow-y:visible;
  height: auto;
}

.landingImage {
  max-width: 630px;
}
#landingImage {
  position: relative;
  top: -70px;
  left: 0;
  width: 540px;
  height: auto;
  z-index: 0;
}

/* Buttons */

.button {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Ibarra Real Nova';
  text-transform: uppercase;
  color: var(--near-black);
  background-color: #fff;
  margin: 0 0 1rem 0;
  border: 3px solid var(--accent-col);
  -webkit-appearance: none;
  border-radius: 0;
  width: 300px;
  height: 50px;
}

.button:hover {
  cursor: pointer;
}

/* Services */

.services {
  position: relative;
  margin: auto;
  margin-top: -75px;
  width: 1000px;
  /* height: 1200px; */
  background-color: var(--near-black);
  font-family: 'Playfair Display';
}

.services h1 {
  color: white;
  font-size: 4rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  padding: 2.7rem 0 0 0;
  margin: 0;
  margin-bottom: 1.8rem;
}

.services .divider {
  border-color: #fff;
}

.services .divider:last-of-type {
  margin-top: 3rem;
  padding-bottom: 4rem;
}

.divider {
    width: 31rem;
    border: none;
    border-top: 2px solid var(--accent-col);
}

/* Nav bar */

.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.navbar ul {
  width: 65%;
  max-width: 936px;
  display: flex;
  padding: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.navbar li {
  list-style: none;
  text-transform: uppercase;
}

.navbar a, .navbar p, .navbar span {
  display: block;
  padding: 1rem;
  color: var(--near-black);
  text-align: center;
  font-weight: 600;
  font-family: 'Playfair Display';
  font-size: 1.6rem;
  text-decoration: none;
}

.navbar .active, .navbar a:hover {
  border-bottom: 2px solid var(--near-black);
}

.navbar .socials .icon {
  color: var(--near-black);
  width: 2rem;
  height: 2rem;
  padding: 0;
}

.navbar .navigation {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar .separator p {
  margin: 0;
}

.navbar .socials {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar .menu {
  display: none;
}

@media screen and (max-width: 400px) {
  :root {
      font-size: 48%;
  }
}

@media screen and (max-width: 925px) {
  .navbar {
      position: absolute;
      right: 0;
      width: 100%;
      /* height: 100%; */
      z-index: 2;
  }
  .navbar ul {
      position: fixed;
      right: -300px;
      display: none;
      transition: .4s;
      text-decoration: none;
      display: block;
      margin: 0;
      padding-top: 5rem;
      width: 100%;
      max-width: 300px;
      right: -300px;
      height: 100%;
      background-color: hsla(30, 16%, 83%, 0.85);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      overflow: auto;
  }
  .navbar ul.active {
      text-decoration: none;
      display: block;
      right: 0px;
  }
  .navbar span {
      padding: 0;
  }
  .navbar .navigation {
      width: 100%;
      flex-direction: column;
  }
  .navbar .separator {
      display: none;
  }
  .navbar .socials {
      width: 100%;
      flex-direction: column;
  }
  .navbar a {
      padding: 2rem;
  }
  .navbar .menu {
      display: block;
      position: fixed;
      top: 0px;
      right:0px;
      color: var(--near-black);
      width: 3rem;
      height: 2.4rem;
      margin: 1.5rem 2rem;
      padding: 8px 5px 8px 5px;
      background-color: var(--bg-color);
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .navbar .menu img {
      margin: 0;
      padding: 0;
      width: 100%;
      height: auto;
  }
  .navbar .menu:hover {
      border: none;
      cursor: pointer;
  }
  /* Nav button */
  .navbar .menu .menu-burger {
    position: relative;
    width: 3rem;
    height: .4rem;
    background-color: var(--near-black);
    border-radius: 5px;
    transition: all .3s ease-in-out;
  }
  .navbar .menu .menu-burger::before, .menu-burger::after {
    content: '';
    position: absolute;
    left: 0;
    width: 3rem;
    height: .4rem;
    background-color: var(--near-black);
    border-radius: 5px;
    transition: all .3s ease-in-out;
  }
  .navbar .menu .menu-burger::before {
    transform: translateY(-1rem);
  }
  .navbar .menu .menu-burger::after {
    transform: translateY(1rem);
  }
  /* Animated Nav Button: */
  .navbar .menu.open .menu-burger {
    transform: translateX(3rem);
    background: transparent;
  }
  .navbar .menu.open .menu-burger::before {
    transform: rotate(-45deg) translate(-2.2rem, -2.2rem);
  }
  .navbar .menu.open .menu-burger::after {
    transform: rotate(45deg) translate(-2.2rem, 2.2rem);
  }

  .navbar .active {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 5px;
      border-bottom: none;
  }

  .landingImage {
      margin: auto;
  }

  #landingImage {
      width: 110%;
      height: auto;
      left: -15%;
  }

  .services {
      width: 85%;
      max-width: 400px;
  }

  .divider {
      width: 80%;
  }
  
}

@media (prefers-reduced-motion: no-preference) {
  .fade-in {
    animation: fadeIn 1s;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
}